@font-face { 
        
    font-family: SNES-Italic; 
    src: url(SNES-Italic.ttf);
 } 


#logo {
    position: absolute;
    top: 0;
    right: 0;
}

nav {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: dimgrey;
    opacity: .9;
    border: crimson;
    bottom: 0;
    left: 0;
    border-radius: 0px 100% 100% 0px;
    box-shadow: 15px 8px 950px 90px grey;
    
}

.icons {
    width: 150px;
    height: 150px;
    line-height: 150px;
}

ul {
    font-size: 25pt;
    text-align: center;
    list-style: none;
    position: absolute;
}

li {
    flex: 1;
    color: red;
    margin-top: 35px;
}

#specs{
    background-image: url(../img/specs.png);
    background-size:cover;
}

#games{
    background-image: url(../img/games.ico);
    background-size:cover;
}

#preOrder {
    background-image: url(../img/preorder.png);
    background-size:cover;
}

table {
    position: absolute;
    bottom:0;
}

h3, h5 {
    visibility: hidden;
}    
    

li:hover h3 {
    
    visibility: visible;
    color: black;
    transition: 1.1s;
    font-family: SNES-Italic;
    font-size: 35pt;
}

li:hover h5 {
    
    visibility: visible;
    color: black;
    transition: 1.3s;
    font-family: SNES-Italic;
    font-size: 30pt;
}

#home {
    right: 0;
    position: absolute;
    bottom: 0;
}